{
  "openapi": "3.1.0",
  "info": {
    "title": "WalletLens API",
    "version": "1.0.0",
    "description": "Paid x402 API for EVM wallet reports, normalized portfolio snapshots, and enriched transaction history."
  },
  "servers": [
    {
      "url": "https://walletlens.wallyweb.com"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "summary": "Machine-readable service status and resource index",
        "responses": {
          "200": {
            "description": "Service status, paid resources, free resources, supported chains, and docs links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    },
    "/discover": {
      "get": {
        "summary": "Machine-readable agent discovery entrypoint",
        "description": "Returns WalletLens capabilities, x402 payment details, free resource links, paid resources, supported chains, and copy-paste examples for agent clients.",
        "responses": {
          "200": {
            "description": "Agent discovery payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/preview": {
      "get": {
        "summary": "Free cached live WalletLens response preview",
        "description": "Returns a cached live portfolio response for the configured demo wallet so agents can evaluate WalletLens before paying. Arbitrary wallet lookups require the paid /portfolio endpoint.",
        "responses": {
          "200": {
            "description": "Free preview payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Preview"
                }
              }
            }
          }
        }
      }
    },
    "/pricing": {
      "get": {
        "summary": "Human-readable pricing page",
        "responses": {
          "200": {
            "description": "Pricing HTML",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/examples": {
      "get": {
        "summary": "Examples page or machine-readable examples",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json"]
            },
            "description": "Use format=json for agent-readable examples."
          }
        ],
        "responses": {
          "200": {
            "description": "Examples HTML or JSON",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "summary": "x402 discovery metadata alias",
        "description": "Alias for /.well-known/x402.json for clients that omit the .json suffix.",
        "responses": {
          "200": {
            "description": "Paid resource metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402Discovery"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/x402.json": {
      "get": {
        "summary": "x402 discovery metadata",
        "responses": {
          "200": {
            "description": "Paid resource metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402Discovery"
                }
              }
            }
          }
        }
      }
    },
    "/quote": {
      "get": {
        "summary": "Free quote and call guidance",
        "description": "Validates an intended wallet analysis request and returns price, payment network, required parameters, and copy-paste paid endpoint examples.",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "base"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/portfolio": {
      "get": {
        "summary": "Get a normalized wallet portfolio snapshot",
        "description": "Requires x402 payment. Unpaid requests return HTTP 402 with a payment-required header.",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            },
            "description": "EVM wallet address."
          },
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "base,ethereum",
              "examples": ["base", "base,ethereum", "base,ethereum,arbitrum,optimism,polygon"]
            },
            "description": "Comma-separated supported chain slugs."
          }
        ],
        "responses": {
          "200": {
            "description": "Portfolio snapshot after successful x402 payment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioSnapshot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "402": {
            "description": "Payment required",
            "headers": {
              "payment-required": {
                "description": "Base64-encoded x402 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Server or provider error"
          }
        }
      }
    },
    "/tx-history": {
      "get": {
        "summary": "Get enriched wallet transaction history",
        "description": "Requires x402 payment. Returns normalized multi-chain transfer history with direction, categorization, decoded summaries, labels, and basic insights.",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            },
            "description": "EVM wallet address."
          },
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "base,ethereum"
            },
            "description": "Comma-separated supported chain slugs."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 365
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["all", "external", "internal", "erc20", "erc721", "erc1155"],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enriched transaction history after successful x402 payment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TxHistorySnapshot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "402": {
            "description": "Payment required",
            "headers": {
              "payment-required": {
                "description": "Base64-encoded x402 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server or provider error"
          }
        }
      }
    },
    "/wallet-report": {
      "get": {
        "summary": "Get a bundled wallet report",
        "description": "Requires x402 payment. Returns normalized EVM portfolio balances plus TxLens transaction history, top holdings, counterparties, decoded transfers, and wallet activity summary in one agent-friendly response.",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            },
            "description": "EVM wallet address."
          },
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "base,ethereum"
            },
            "description": "Comma-separated supported chain slugs."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 365
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["all", "external", "internal", "erc20", "erc721", "erc1155"],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bundled wallet report after successful x402 payment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletReportSnapshot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "402": {
            "description": "Payment required",
            "headers": {
              "payment-required": {
                "description": "Base64-encoded x402 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server or provider error"
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "LLM-friendly API index",
        "responses": {
          "200": {
            "description": "Markdown documentation index",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "summary": "Full LLM-friendly API documentation",
        "responses": {
          "200": {
            "description": "Markdown documentation",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Health": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "service": { "type": "string" },
          "name": { "type": "string" },
          "x402DevBypass": { "type": "boolean" }
        },
        "required": ["ok", "service", "name", "x402DevBypass"]
      },
      "Status": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "name": { "type": "string" },
          "version": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "uptimeSeconds": { "type": "integer" },
          "baseUrl": { "type": "string" },
          "x402DevBypass": { "type": "boolean" },
          "paidResources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": { "type": "string" },
                "method": { "type": "string" },
                "price": { "type": "string" },
                "network": { "type": "string" },
                "asset": { "type": "string" },
                "description": { "type": "string" }
              },
              "required": ["path", "method", "price", "network", "asset", "description"]
            }
          },
          "freeResources": {
            "type": "array",
            "items": { "type": "string" }
          },
          "supportedChains": {
            "type": "array",
            "items": { "type": "string" }
          },
          "docs": {
            "type": "object",
            "properties": {
              "openapi": { "type": "string" },
              "llms": { "type": "string" },
              "llmsFull": { "type": "string" },
              "skill": { "type": "string" },
              "x402": { "type": "string" }
            },
            "required": ["openapi", "llms", "llmsFull", "skill", "x402"]
          }
        },
        "required": ["ok", "name", "version", "timestamp", "uptimeSeconds", "baseUrl", "x402DevBypass", "paidResources", "freeResources", "supportedChains", "docs"]
      },
      "Preview": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "paidEndpoint": { "type": "string" },
          "price": { "type": "string" },
          "network": { "type": "string" },
          "previewQuery": {
            "type": "object",
            "properties": {
              "address": { "type": "string" },
              "chains": { "type": "string" }
            },
            "required": ["address", "chains"]
          },
          "cache": {
            "type": "object",
            "properties": {
              "source": { "type": "string", "enum": ["live", "fallback"] },
              "ttlSeconds": { "type": "integer" },
              "expiresAt": { "type": "string", "format": "date-time" }
            },
            "required": ["source", "ttlSeconds", "expiresAt"]
          },
          "limits": {
            "type": "object",
            "properties": {
              "tokens": { "type": "integer" },
              "recentActivity": { "type": "integer" }
            },
            "required": ["tokens", "recentActivity"]
          },
          "truncated": {
            "type": "object",
            "properties": {
              "tokens": { "type": "integer" },
              "recentActivity": { "type": "integer" }
            },
            "required": ["tokens", "recentActivity"]
          },
          "response": {
            "$ref": "#/components/schemas/PortfolioSnapshot"
          }
        },
        "required": ["name", "description", "paidEndpoint", "price", "network", "previewQuery", "cache", "limits", "truncated", "response"]
      },
      "X402Discovery": {
        "type": "object",
        "properties": {
          "version": { "type": "string" },
          "resources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": { "type": "string" },
                "method": { "type": "string" },
                "price": { "type": "string" },
                "network": { "type": "string" },
                "description": { "type": "string" }
              },
              "required": ["path", "method", "price", "network", "description"]
            }
          }
        },
        "required": ["version", "resources"]
      },
      "PortfolioSnapshot": {
        "type": "object",
        "properties": {
          "address": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "chains": {
            "type": "array",
            "items": { "type": "string" }
          },
          "summary": {
            "$ref": "#/components/schemas/PortfolioSummary"
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PortfolioToken"
            }
          },
          "positions": {
            "type": "array",
            "items": {}
          },
          "recentActivity": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecentActivity"
            }
          },
          "provider": {
            "type": "string",
            "const": "alchemy"
          }
        },
        "required": ["address", "timestamp", "chains", "summary", "tokens", "positions", "recentActivity", "provider"]
      },
      "PortfolioSummary": {
        "type": "object",
        "properties": {
          "totalValueUsd": { "type": ["string", "null"] },
          "pricedTokenCount": { "type": "integer" },
          "unpricedTokenCount": { "type": "integer" },
          "tokenCount": { "type": "integer" },
          "stablecoinValueUsd": { "type": ["string", "null"] },
          "chains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSummary"
            }
          },
          "topHoldings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopHolding"
            }
          },
          "warnings": {
            "type": "array",
            "items": { "type": "string" }
          }
        },
        "required": ["totalValueUsd", "pricedTokenCount", "unpricedTokenCount", "tokenCount", "stablecoinValueUsd", "chains", "topHoldings", "warnings"]
      },
      "ChainSummary": {
        "type": "object",
        "properties": {
          "chain": { "type": "string" },
          "tokenCount": { "type": "integer" },
          "pricedTokenCount": { "type": "integer" },
          "unpricedTokenCount": { "type": "integer" },
          "totalValueUsd": { "type": ["string", "null"] }
        },
        "required": ["chain", "tokenCount", "pricedTokenCount", "unpricedTokenCount", "totalValueUsd"]
      },
      "TopHolding": {
        "type": "object",
        "properties": {
          "chain": { "type": "string" },
          "contract": { "type": ["string", "null"] },
          "symbol": { "type": ["string", "null"] },
          "name": { "type": ["string", "null"] },
          "valueUsd": { "type": "string" }
        },
        "required": ["chain", "contract", "symbol", "name", "valueUsd"]
      },
      "PortfolioToken": {
        "type": "object",
        "properties": {
          "chain": { "type": "string" },
          "chainId": { "type": "string" },
          "contract": { "type": ["string", "null"] },
          "symbol": { "type": ["string", "null"] },
          "name": { "type": ["string", "null"] },
          "decimals": { "type": ["integer", "null"] },
          "logo": { "type": ["string", "null"] },
          "rawBalance": { "type": "string" },
          "balance": { "type": ["string", "null"] },
          "priceUsd": { "type": ["string", "null"] },
          "valueUsd": { "type": ["string", "null"] }
        },
        "required": ["chain", "chainId", "contract", "symbol", "name", "decimals", "logo", "rawBalance", "balance", "priceUsd", "valueUsd"]
      },
      "RecentActivity": {
        "type": "object",
        "properties": {
          "chain": { "type": ["string", "null"] },
          "hash": { "type": ["string", "null"] },
          "from": { "type": ["string", "null"] },
          "to": { "type": ["string", "null"] },
          "blockNumber": { "type": ["integer", "string", "null"] },
          "timestamp": { "type": ["string", "null"] }
        },
        "required": ["chain", "hash", "from", "to", "blockNumber", "timestamp"]
      },
      "TxHistorySnapshot": {
        "type": "object",
        "properties": {
          "address": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "chains": {
            "type": "array",
            "items": { "type": "string" }
          },
          "request": {
            "type": "object"
          },
          "summary": {
            "type": "object"
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TxHistoryTransaction"
            }
          },
          "pagination": {
            "type": "object"
          },
          "provider": {
            "type": "string",
            "const": "alchemy"
          },
          "note": { "type": "string" }
        },
        "required": ["address", "timestamp", "chains", "request", "summary", "transactions", "pagination", "provider", "note"]
      },
      "TxHistoryTransaction": {
        "type": "object",
        "properties": {
          "chain": { "type": "string" },
          "chainId": { "type": "string" },
          "hash": { "type": "string" },
          "uniqueId": { "type": "string" },
          "timestamp": { "type": ["string", "null"] },
          "blockNumber": { "type": "string" },
          "from": { "type": ["string", "null"] },
          "to": { "type": ["string", "null"] },
          "counterparty": { "type": ["string", "null"] },
          "direction": { "type": "string", "enum": ["in", "out", "self", "unknown"] },
          "category": { "type": "string" },
          "type": { "type": "string" },
          "protocol": { "type": ["string", "null"] },
          "asset": { "type": ["string", "null"] },
          "value": { "type": ["string", "null"] },
          "tokenId": { "type": ["string", "null"] },
          "contract": { "type": ["string", "null"] },
          "valueUsd": { "type": ["string", "null"] },
          "decoded": { "type": "object" },
          "labels": {
            "type": "array",
            "items": { "type": "string" }
          },
          "riskFlags": {
            "type": "array",
            "items": { "type": "string" }
          }
        },
        "required": [
          "chain",
          "chainId",
          "hash",
          "uniqueId",
          "timestamp",
          "blockNumber",
          "from",
          "to",
          "counterparty",
          "direction",
          "category",
          "type",
          "protocol",
          "asset",
          "value",
          "tokenId",
          "contract",
          "valueUsd",
          "decoded",
          "labels",
          "riskFlags"
        ]
      },
      "WalletReportSnapshot": {
        "type": "object",
        "properties": {
          "address": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "chains": {
            "type": "array",
            "items": { "type": "string" }
          },
          "request": {
            "type": "object"
          },
          "summary": {
            "type": "object",
            "properties": {
              "totalValueUsd": { "type": ["string", "null"] },
              "tokenCount": { "type": "integer" },
              "stablecoinValueUsd": { "type": ["string", "null"] },
              "topHoldings": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TopHolding"
                }
              },
              "transactionCount": { "type": "integer" },
              "transactionDirections": { "type": "object" },
              "transactionActions": { "type": "object" },
              "warnings": {
                "type": "array",
                "items": { "type": "string" }
              }
            }
          },
          "portfolio": {
            "$ref": "#/components/schemas/PortfolioSnapshot"
          },
          "txHistory": {
            "$ref": "#/components/schemas/TxHistorySnapshot"
          },
          "provider": {
            "type": "string",
            "const": "alchemy"
          },
          "note": { "type": "string" }
        },
        "required": ["address", "timestamp", "chains", "request", "summary", "portfolio", "txHistory", "provider", "note"]
      }
    }
  }
}
